body, html {
    margin: 0px;
    background-color: #C5C5C5;
    cursor: default;
    overflow-x: hidden;
    /* text-decoration-color: #AFFF60; */
    overscroll-behavior: none;
}

@font-face {
    font-family: derania;
    src: url(../img/font/DeraniaDemo.otf);
}

h1 {
    font-size: 30px;
    /* font-weight: bold; */
    line-height: 32px;
    font-family: derania;
    color: #AFFF60;
    -webkit-text-stroke: 1.5px #061405;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
    font-family: "Astloch", system-ui;
    font-weight: 700;
    font-style: normal;
    color: #061405;
    /* -webkit-text-stroke: 0.7px #061405; */
}

h3, .anchor-h3 {
    font-family: "Anaheim", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    margin: 0px;
    /* text-decoration: underline; */
}

.anchor-h3 {
    text-decoration: underline;
}

p {
    font-family: "Anaheim", sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
}

a {
    font-family: "Astloch", system-ui;
    font-weight: 700;    
    line-height: 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #061405;
}

a:hover {
    color: #AFFF60;
    cursor: pointer;
}

header {
    height: 120px;
    background-color: #C5C5C5;
    border-bottom: 3px solid #061405;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

footer {
    background-color: #C5C5C5;
    display: flex;
    flex-direction: column;
    z-index: 50;
}

#header-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-flexbox img {
    width: 100px;
}

#header-flexbox h1 {
    position: relative;
    top: 10px;
    background-color: #C5C5C5;
}

#logomark {
    position: relative;
    right:6%;
}

#logotype {
    position: relative;
    right:6%;
}

#header-flexbox a.icon {
    /* background: black; */
    -webkit-text-stroke: 2px #061405;
    color: #AFFF60;
    display: block;
    font-size: 46px;
    /* position: relative;
    left:6%; */
    z-index: 200;
}

#spacer {
    height: 160px;
    z-index: -1;
    border-bottom: 3px solid #061405;
}

#spacerContact {
    height: 120px;
    z-index: -1;
}


.product img {
    width: 100%;
    display: block;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px ;
    background-color: #C5C5C5;
    border-bottom: 3px solid #061405;
    border-top: 3px solid #061405;
    height: 80px;
}

.buy-button {
    /* color: #061405;
    padding: 6px 4px 4px 6px;
    border: 3px solid #AFFF60 ;
    border-radius: 5px; */
    -webkit-text-stroke: 2px;
    /* padding: 5px 4px 4px 5px;
    outline:2px solid #000000;
    background:#C5C5C5;
    border-width:2px;
    border-style:solid;
    border-color:#FFFFFF #808080 #808080; */
    /* position: relative;
    right: 7%; */
}

/* .buy-button:active{
    outline:none;
} */

.price-section {
    /* position: relative;
    left:8%; */
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.item-description {
    display: none;
}

.item-description h3 {
    position: fixed;
    width: 80%;
    left:8%;
    top: 40%;
    text-align: justify;
    background-color:#C5C5C5;
    border: 3px #061405 solid;
    padding: 7px;
    z-index: 500;
}

.close-button {
    font-size: 24px;
    display: block;
    margin-bottom: 15px;
    position: fixed;
    width: 3%;
    left:8%;
    top: 34%;
    text-align: center;
    background-color:#C5C5C5;
    border: 3px #061405 solid;
    padding: 3px;
    z-index: 500;
}

footer > * {
    border-bottom: 3px solid #061405;
    padding: 6px 10px 6px 10px;
}

#footer-description p{
    margin: 0px;
}

#footer-logo {
    display: none;
}

#copyright {
    height: 15px;
}

#location-instagram-logo-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

#copyright {
    border-bottom: 0px;
}

.big-dash {
    font-size: 42px;
}

.price {
    font-size: 32px;
}

#myLinks {
    display: none;
    justify-content: center;
    gap: 10%;
    align-items: center;
    border-bottom: 3px solid #061405;
    height: 52px;
    position:fixed;
    top: 120px;
    width:100%;
    background-color: #C5C5C5;
    z-index: 500;

}

#filter {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 12px;
    border-bottom: 3px solid #061405;
    border-right: 3px solid #061405;
    height: 40px;
    position:fixed;
    top:120px;
    width:35%;
    background-color: rgb(197, 197, 197);
    padding-left: 10px;
    z-index: 100;
}

#filter-text {
    margin-top:12px
}

.slideshow-container {
    position: relative;
  }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  bottom: 45%;
  /* width: auto; */
  padding: 8px;
  /* margin-top: -22px; */
  color: white;
  font-weight: bold;
  font-size: 48px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  /* stroke: 1px solid #061405; */
}

/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

#contact-section {
    border-bottom: 3px solid #061405;
    padding: 10px;
    text-align: center;
}

#about-section {
    padding: 10px;
    text-align: justify;
}

.centered-text {
    text-align: center;
}

#email {
    max-width: 30%;
    display: block;
    margin: 30px auto 60px auto;
    /* padding: 5px 4px 4px 5px; */
    outline:2px solid #000000;
    background:#C5C5C5;
    border-width:2px;
    border-style:solid;
    border-color:#FFFFFF #808080 #808080;
    position: relative;
}

#gif-bar-left, #gif-bar-right {
    display: none;
}

#desktop-nav a, #desktop-nav p  {
    display: none;
}

#logotype-desktop {
    display: none;
}

#filter-background{
    top:120px;
    height: 40px;
    background-color: #C5C5C5;
    position: fixed;
    border-bottom: 3px solid #061405;
    width: 100%;
    z-index:50;
}

.vertical-line {
    display: none;
}

#contact-section img, #about-section img {
    max-width: 120px;
}

.ec-cart-widget {
    position: fixed;
    bottom: 50px;
    right:6%;
    padding: 4px 8px 0px 0px;
    transform: scale(1.2);
    background-color: #FFFFFF;
    border: #061405 2.5px solid;
    border-radius: 6px;
}

@media only screen and (min-width: 340px) {
    h1 {
        font-size: 36px;
    }

}

/* tablet layout */
@media only screen and (min-width: 450px) {

    a {
        font-size: 28px;
        line-height: 28px;
    }

    footer {
        position: relative;
        /* bottom:6px; */
        border-top: 3px solid #061405;
    }

    #shop-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3px; /* Space between grid cells to simulate an even border */
    }

    .product {
        outline: 3px solid #061405;
    }
    .product-info{
        border-bottom: 0px;
    }

    .anchor-h3{
        font-size: 18px;
    }

    .price-section .big-dash {
        display: none;
    }

    .price {
        font-size: 22px;
    }

    #footer-logo {
        display: block;
        font-size: 20px;
        line-height: 19px;
    }

    #instagram {
        padding: 0px 18px 0px 18px;
        /* border-left: 3px solid #061405;
        border-right: 3px solid #061405; */
    }

    #location-instagram-logo-section {
        height: 36px;
    }

    #logomark, #header-flexbox h1 {
        position: absolute;
    }

    #logomark {
        left:3%;

    }
    #header-flexbox img {
        width: 110px;
    }
    
    #logotype {
        position: absolute;
        left:calc(3% + 110px);
        font-size: 42px;
        line-height: 36px;
        width: 10%;
    }

    #filter {
        width:24%;
    }
    
    #header-flexbox a.icon {
        position: absolute;
        right:6%;
        top: 30px;
        font-size: 64px;

    }

    #contact-section {
        border-bottom: 0px;
    }
 
}

/* tablet layout */
@media only screen and (min-width: 769px) {
    .price {
        font-size: 28px;
    }
    .price-section .big-dash {
        display: block;
    }
    #filter {
        width:20%;
    }
    #about-section {
        width: 50%;
        margin: 0px auto 20px auto;
    }

    #border-text {
        border: 3px solid #061405;
        padding: 6px;
    }

    #instagram {
        position: relative;
        right:25px;
    }

}

/* laptop layout */
@media only screen and (min-width: 1024px) {

    .ec-cart-widget {
        position: relative;
        bottom:12px;
        left:3%;

        padding: 0px;
        transform: scale(1.05);
        background-color: rgb(0, 0, 0,0);
        border: 0px;
        border-radius: 6px;
    }

    #shop-grid {
        width: 60%;
        margin: 0px auto 0px auto;
    }
    #gif-bar-left {
        width: 10%;
        display: flex;
        flex-direction: column;
        position: fixed;
        top:20%;
        left: 4.5%;
        gap: 3.5rem;
        /* border-left: #061405 3px solid;
        border-right: #061405 3px solid; */
    }
    #gif-bar-left img {
        max-width: 150px;
    }
    #gif-bar-right {
        width: 10%;
        display: flex;
        flex-direction: column;
        position: fixed;
        top:20%;
        right: 4.5%;
        gap: 3.5rem;
        /* border-left: #061405 3px solid;
        border-right: #061405 3px solid; */
    }
    #gif-bar-right img {
        max-width: 150px;
    }
    #filter {
        padding-left: 4.5%;
        top:90px;

    }
    .item-description h3{
        width: 40%;
        left:31%;
    }
    
    .close-button {
        left:31%;
    }

    #header-flexbox {
        align-items: center;
    }

    #header-flexbox a.icon {
        display: none;
    }

    #desktop-nav a, #desktop-nav p {
        display: block;
    }

    #desktop-nav {
        display: flex;
        gap: 42px;
        top:34px;
        position: absolute;
        right: 3%;
    }

    #desktop-nav a {
        font-size: 32px;
    }

    #about #desktop-nav, #contact #desktop-nav {
        right:3%;
    }

    #header-flexbox img {
        max-width: 80px;
    }

    header {
        height: 90px;
    }

    #logotype {
        display: none;
    }

    #logotype-desktop {
        display: block;
        position: absolute;
        margin: 0px;
        left:calc(3% + 80px);
        font-size: 42px;
        line-height: 36px;
        /* width: 30%; */
    }

    #header-flexbox h1 {
        top: 33px;
    }

    #spacer {
        height: 130px;
    }

    footer > * {
        border-bottom: 3px solid #061405;
        padding: 6px 3% 6px 3%;
    }

    #filter {
        width:15.3%;
    }

    #filter-background{ 
        top: 90px;
        z-index: 60;
    }

    .vertical-line {
        display: block;
        width: 3px;
        background-color: #061405;
        position: fixed;
        top: 0px;
        height: 100vh;
        z-index: 50;
    }

    #vert-line-one{
        left: 3%;
    }

    #vert-line-two{
        left: 16.25%;
    }


    #vert-line-three{
        right: 3%;
    }

    #vert-line-four{
        right: 16.25%;
    }
}

/* XL display layout */
@media only screen and (min-width: 1440px) {
}